<div class="container">
    <div class="row ">
        <div class="col-sm-10 justify-content-center float-right ">
            <div class="row w-50 py-2 ml-50">
                <button class="btn btn-block btn-social btn-twitter twitter  float-right">
                    <span class="fa fa-twitter"></span> Sign in with Twitter
                </button>

            </div>

            <div class="row w-50 py-2">
                <button class="btn btn-block btn-social btn-facebook fb  float-right " (click)="signInWithFB()">
                    <span class="fa fa-facebook"></span> Login with Facebook
                </button>
            </div>

            <div class="row w-50 py-2 ml-50">
                <button class="btn btn-block btn-social btn-google google float-right " (click)="signInWithGoogle()">
                    <span class="fa fa-google"></span> Login with Google+
                </button>
            </div>
        </div>
    </div>
</div>